<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanhex.anxinpassword">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Normal Protection -->
    <!-- 获取网络状态状态-权限级别Protection/Normal-AndroidManifest.xml中声明 即可获取权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnxinPassword">
        <activity
            android:name=".add.PasswordAddActivity"/>
        <activity
            android:name=".edit.PasswordEditActivity"/>
        <activity
            android:name=".settings.SettingsActivity"/>
        <activity
            android:name=".settings.BaiduOAuthActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>